body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1E1E1E;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1 {
  text-align: center;
  color: rgb(245, 245, 245);
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: rgb(245, 245, 245);
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

table {
  background-color: #333;
	border-collapse: collapse;
	margin: 30px auto;
	width: 80%;
}

th, td {
  border: 1px solid #555;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}

th {
  font-size: 18px;
  background-color: #222;
	color: #fff;
	font-weight: bold;
}

tr:hover {
	background-color: #444;
}

th.position {
  width: 50px;
  text-align: center;
}

td img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  object-fit: cover;
}

td.playcount, td.position, td.artwork, td.duration {
  text-align: center;
}

td.track {
  text-transform: capitalize;
}

td.dsp-links {
  text-align: center;
}

td.dsp-links img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.center {
  text-align: center;
}

img.artwork {
  width: 150px;
  height: 150px;
}

table tbody tr:hover {
  background-color: #f4edf070;
}

a {
  /* color: #122888; */
  font-weight: bold;
  color: #fff;
}

ul {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}
li {
  margin: 10px 0;
  font-size: 24px;
}

ul#playlists {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  align-items:center;
}
