body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1E1E1E;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: rgb(245, 245, 245);
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

table {
  background-color: #333;
	border-collapse: collapse;
	margin: 30px auto;
	width: 80%;
  border-radius: 55px;
}

th, td {
  border: 1px solid #555;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
}

th {
  background-color: #e8ebef;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  /* border: 1px solid #00B8D4; */
}

th:hover {
  background-color: #f4edf070;
  color: #1E1E1E;
  font-weight: bold;
  cursor: default;
}


tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #f4edf070;
  cursor: pointer;
}

tr.selected {
  /* background-color: #f4edf070; */
  background-color: #ff8a80;
  font-weight: bold;
}

th.position {
  width: 50px;
  text-align: center;
}

td img {
  width: 75px;
  height: 75px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

td img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.playlist-entry:hover .artwork img {
  transform: scale(1.1);
}

td.playcount, td.position, td.artwork, td.duration {
  text-align: center;
}

td.playcount {
  width: fit-content;
}

td.artwork {
  display: flex;
  align-items: center;
  justify-content: center;
}

td.track {
  text-transform: capitalize;
}

td.track span.title  {
  font-size: large;
  transition: all 0.2s ease-in-out;
}

.playlist-entry:hover span.title {
  font-size: x-large;
}

td.dsp-links {
  text-align: center;
  width: 60px;
}

td.dsp-links img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.center {
  text-align: center;
}

img.artwork {
  width: 150px;
  height: 150px;
}

a {
  /* color: #122888; */
  font-weight: bold;
  color: #fff;
}

ul {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}
li {
  margin: 10px 0;
  font-size: 24px;
}

ul#playlists {
  list-style-type:none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  align-items:center;
}

button#random-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1E1E1E;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

button#random-button:hover {
  background-color: #fff;
  color: #1E1E1E;
  cursor: pointer;
}

button#random-button:active {
  transform: translateY(3px);
}
