body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1E1E1E;
	color: #fff;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: rgb(245, 245, 245);
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  height: 50px;
  width: 40%;
  margin: 10px auto;
  border-radius: 55px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  padding: 0 20px;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

nav a:hover {
  color: #020202;
  font-size: larger;
}


nav .prev {
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-left: 30px;
}

nav .next {
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 30px;
  text-align: center;
}

nav a:last-of-type {
  margin-right: 0;
}

nav a.prev::before {
  content: '<<';
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

nav a.next::after {
  content: '>>';
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

table {
  background-color: #333;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
  width: 80%;
  border-radius: 45px;
}

th, td {
  border: none;
  padding: 10px 0px 10px 0px;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #e8ebef;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

th:hover {
  background-color: #f4edf070;
  color: #1E1E1E;
  font-weight: bold;
  cursor: default;
}


tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #f4edf070;
  cursor: default;
}

tr.selected {
  /* background-color: #f4edf070; */
  background-color: #ff8a80;
  font-weight: bold;
}

td img {
  width: 75px;
  height: 75px;
  border-radius: 25px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

td img:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.playlist-entry:hover span.title {
  font-size: x-large;
}

.playlist-entry:hover .artwork img {
  transform: scale(1.1);
}

.playlist-entry:hover span.duration {
 color: #333;
}

.playlist-entry.touched {
  background-color: #f4edf070;
}

td.playcount, td.position {
  text-align: center;
}

td.position {
  width: fit-content;
  position: relative;
  overflow: hidden;
  width: 20px;
}

td.position span {
  font-size: x-large;
  color: #e6e6e6;
  text-shadow: 2px 2px 5px #afafaf;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 80px;
  padding: 10px 20px 10px 20px;
}

td.playcount {
  width: fit-content;
  position: relative;
  overflow: hidden;
  padding-right: 12px;
}

td.playcount img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  object-fit: scale-down;
}

td.playcount:hover::before {
  position: absolute;
  content: attr(data-count) " plays";
  text-transform: capitalize;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  opacity: 1;
  z-index: 1;
  transition: all 0.1s ease-in-out;
}

td.artwork {
  display: flex;
  align-items: center;
  justify-content: center;
}

td.track {
  text-transform: capitalize;
  text-align: center;
}

td.track span.title  {
  font-size: large;
  transition: all 0.2s ease-in-out;
}

td.dsp-links {
  text-align: center;
  /* width: 60px; */
}

td.dsp-links img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

span.duration {
  padding-top: 5px;
  font-size: 0.8em;
  color: #999;
}

.center {
  text-align: center;
}

img.artwork {
  width: 100px;
  height: 100px;
}

a {
  font-weight: bold;
  color: #fff;
}

ul {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}
li {
  margin: 10px 0;
  font-size: 24px;
}

button#random-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  background-color: #1E1E1E;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1300px) {

  nav a.prev::before {
    content: '';
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

  nav a.next::after {
    content: '';
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 980px) {

  nav a {
    font-size: 1em;
    text-align: center;
  }

  nav .next {
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 30px;
  }

  nav a:last-of-type {
    margin-right: 0;
  }

  table {
    width: 100%;
  }

  tr:active {
    background-color: #f4edf0;
  }

  td.track {
    text-align: center;
  }

  button#random-button {
    font-size: 2em;
    padding: 25px 35px;
  }

  img.artwork {
    width: 150px;
    height: 150px;
  }

}

button#random-button:hover {
  background-color: #fff;
  color: #1E1E1E;
  cursor: pointer;
}

button#random-button:active {
  transform: translateY(12px);
}
